body {
    background: url("../images/bg.gif") repeat-y scroll center top #434343;
    color: #111111;
    font: 11px/18px Lucida Grande, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    width: 750px;
    height: 750px;
}

#art {
    background-image: url('../images/top.jpg');
    width: 750px;
    height: 167px;
}

#registration {
    padding: 10px 10px 0 0;
}

#container .right {
    float: right;
}

#menubar {
    background: url("../images/nav_bg.gif") no-repeat scroll 0 0 transparent;
    font-size: 11px;
    height: 35px;
    margin: 0;
    padding: 0 30px;
    width: 690px;
}

#menubar ul li {
    display: inline;
    padding: 10px;
}

#menubar ul li a {
    border: 0 none;
    color: #FFFFFF;
    display: block;
    float: left;
    height: 27px;
    margin: 0;
    padding: 7px 18px 0;
    text-align: center;
    text-decoration: none;
}

#menubar ul li a:hover {
    background: none repeat scroll 0 0 #111111;
    color: #999999;
}

#menubar .on {
    background: none repeat scroll 0 0 #111111;
    color: #FF9900;
    display: block;
    float: left;
    height: 27px;
    margin: 0;
    padding: 7px 18px 0;
    text-align: center;
}

#content {
    padding: 15px 35px 0 35px;
    min-height: 500px;
}

#workSpace {
    margin: 10px;
}

#code {
    width: 340px;
    height: 300px;
}

#css {
    width: 340px;
    height: 300px;
}

.CodeMirror {
    border: 1px solid black;
}

#output {
    border: 2px black ridge;
    width: 310px;
    height: 450px;
    overflow: auto;
}

#projects {
    border-left: 3px gray dashed;
    border-bottom: 3px gray dashed;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.stubcontent {
    width: 500px;
    padding: 15px 35px 0;
    min-height: 500px;
}

#links {
    height: 40px;
    width: 750px;
}

.clear {
    clear: both;
}

#content .error {
    color: red;
    font-size: 2em;
}

#buttons {

}

h2 {
    text-shadow: black 1px 1px 1px, green 0 0 1em;
    color: red;
}

div.chapter div.next {
    float: right;
    text-align: right;
    width: 40%;
}

div.chapter div.prev {
    float: left;
    text-align: left;
    width: 40%;
}

span.chapter {
    font-size: 140%;
    background-color: transparent;
    color: #98BF21;
    text-decoration: none;

}

.cursor {
    cursor: pointer;
}



